:host {
    text-align: center;
}
a[target="_blank"]::after {
    content: '';
    width: 20px;
    padding: 0 15px;
    background: url(./img/check.png) no-repeat center center;
    background-size: 15px;
}